body{
	color: white;
	background: grey;
	width: 100%;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

.ui.grid {
	text-align: center;
}

.button {
	text-align: center;
}


h1 {
	font-size: 4em
}

h3, p {
	font-size: 2em;
}





:before, :after {
box-sizing: none;
}

div.ui.page.grid {
width: auto;
padding: auto;
margin: auto;
}

.ui.modal {
 
 text-align: center;

}

.rain {
	background: url("../img/rainy.jpg") center center no-repeat fixed #292929;
}

.fair {
	background: url("../img/sunny.jpg") center center no-repeat fixed #292929;
}

.snow {
	background: url("../img/snow.jpg") center center no-repeat fixed #292929;
}

.cloudy {
	background: url("../img/cloudy.jpg") center center no-repeat fixed #292929;
}

.partly {
	background: url("../img/partly.jpg") center center no-repeat fixed #292929;

}

.fog {
	background: url("../img/fog.jpg") center center no-repeat fixed #292929;

}

.partly,
.cloudy,
.snow,
.fair,
.rain {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}








