body {
	color: white;
	background: grey;
}

.button {
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: left;
}

div.basic.modal div {

}

:before, :after {
box-sizing: none;
}

div.ui.page.grid {
width: auto;
padding: auto;
margin: auto;
}

.ui.modal {
 
 left: 20%;

}

.rain {
	background: url("../img/rainy.jpg") center top no-repeat #292929;
}

.fair {
	background: url("../img/sunny.jpg") center top no-repeat #292929;
}